/* CSS.
   Por ahora sólo podemos hacer estilo básico.
   TODO: en base a la información del XML, crear
   encabezados y estilos para hacer que la ley se
   vea más bonita */

* {
    font-family: 'Palatino Linotype', 'Palatino', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    display: grid;
    grid-template-columns: 240px 1fr;
}

#paralist {
    width: 240px;
    background-color: lightgray;
    align-self: self-start;
    position: sticky;
    min-height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    top: 0;
}

#inputFilter {
    width: 230px;
    margin: 4px;
}

#paralist ul {
    list-style: none;
    padding: 12px;
}

#paralist ul li {
    margin-top: 4px;
    margin-bottom: 12px;
    cursor: pointer;
}

#paralist .hidden {
    display: none;
}

#container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 20px;
    hyphens: auto;
}

#container p {
    text-align: justify;
    hyphens: auto;
    padding-top: 8px;
    padding-bottom: 8px; 
}

#container h2 {
    margin-top: 22px;
    padding-bottom: 10px; 
}

#container h3 {
    margin-top: 12px;
    padding-bottom: 4px; 
}

#container h4 {
    padding-top: 10px;
    padding-bottom: 4px;
}

#container .derogado {
    color: darkgray;
}

#container .promulgacion {
    font-style: italic;
}

#container .anexo {
    font-size: small;
    font-style: italic;
}