* {
    font-family: 'Palatino Linotype', 'Palatino', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    display: grid;
    grid-template-columns: 240px 1fr;
}

#paralist {
    width: 240px;
    background-color: lightgray;
    align-self: self-start;
    position: sticky;
    min-height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    top: 0;
}

#inputFilter {
    width: 230px;
    margin: 4px;
    font-size: 12pt;
}

#paralist ul {
    list-style: none;
}

#paralist ul li {
    margin: 8pt;
    cursor: pointer;
}

#paralist .hidden {
    display: none;
}

#container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    hyphens: auto;
    padding: 2em;
    text-align: justify;
}

#container div {
    margin-top: 8px;
    margin-bottom: 8px;
}

#container h1 {
    text-align: center;
    padding: 1.5em 0 0.2em 0;
}

#container h2 {
    text-align: center;
    padding: 1.5em 0 0.2em 0;
}

#container h2 p {
    padding: 0;
}

#container h3 {
    text-align: center;
    padding: 1em 0 0.2em 0;
}

#container h3 p {
    padding: 0;
}

#container h4 {
    text-align: center;
    padding: 1em 0 0.4em 0;
}

#container h4 p {
    padding: 0;
}

#container p {
    padding: 0.3em 0 0.3em 0;
    line-height: 120%;
}

#container .derogado {
    color: darkgray;
}

#container .promulgacion {
    font-style: italic;
}

#container .anexo {
    font-size: small;
    font-style: italic;
}